@import url('https://fonts.cdnfonts.com/css/garamond');

* {
    font-family: 'Garamond', sans-serif;
    margin: 2px;
    padding: 2px;
}

header {
    background-color: white;
    position: fixed;
    height: 75px;
    box-sizing: content-box;
    padding: 25px 150px 0px;
}

h1 {
    display: inline;
    text-align: left;
    margin: auto 0;
}

nav {
    padding-top: 15px;
    padding-left: 50px;
    width: 250px;
    float: right;
    height: 50px;
}

a {
    display: inline-block;
}

main {
    padding: 125px 150px 0px;
}

#catcher {
    background-image: url("../resources/images/raftingBackground.jpg");
}
#headshot {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

aside {
    display: inline-block;
}

.nameTitle {
    display: block;
    text-align: center;
    margin: 30px 0px;
    font-size: 40px;
}

h3.nameTitle {
    font-size: 20px;
}


img {
    width: 20px;
    height: 20px;
}
