@import url('https://fonts.cdnfonts.com/css/garamond');


* {
    font-family: 'Garamond', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    position: fixed;
    height: 75px;
    width: 100%;
    box-sizing: content-box;
    padding: 20px 150px 0px;
    margin: 0px;
    z-index: 10;
}

h1 {
    display: inline;
    text-align: left;
    margin: auto 0;
}

nav {
    padding-top: 15px;
    padding-left: 50px;
    width: 300px;
    display: inline-block;
    height: 50px;
}

a {
    display: inline-block;
    margin: 3px;
    padding: 3px;
}

main {
    padding: 125px 150px 0px;
}

#catcher::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(to right, black, lightgrey);
    /* mix-blend-mode: color; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    z-index: 0;
}
#catcher {
    position: relative;
    margin: 5px;
    padding: 5px;
}
#catcher > * {
    z-index: 5;
    position: relative;
}

#catcher {
    color: white;
    background-image: url("../images/raftingBackground.jpg");
    background-size: 850px;
    background-position: bottom; 
}

#headshot {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

aside {
    display: inline-block;
}

.nameTitle {
    display: block;
    text-align: center;
    margin: 30px 0px;
    font-size: 40px;
}

h3.nameTitle {
    font-size: 20px;
}

#aboutMe {
    display: block;
}

#aboutMe h2 {
    display: block;
}

#aboutMe p {
    display: inline-block;
    text-align: justify;
}

.wrap {
    display: inline-block;
    margin: 5px auto;
    width: 100%;
}

#aboutMe img {
    float: left;
    width: 100%;
}

footer {
    margin: 25px 150px 0px;
    padding: 20px 0px;
}

footer p {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer img{
    height: 40px;
}
